/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Ñustom styles
   ========================================================================== */
@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

body {
    background:#080706;
    box-sizing: border-box;
    -webkit-animation: bugfix infinite 1s;
    margin:0;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Century Gothic', sans-serif;
    color: rgb(0,0,0);
}
/*HEADER*/

header {
    width: 100%;
    height: 260px;
}

/*NAV*/

mainMenu {
    display: block;
    position: relative;
    width: 100%;
    margin-right: 30px;
    padding: 0;
    float: left;
}

#toggleMenu {
    display: none;

}

    #toggleMenu:checked ~ ul {
        max-height: 100%;
        opacity: 1;
    }

.mainMenu > ul {
    width: 50%;
    margin: 0;
    margin-top: 1%;
    padding: 0;
    list-style: none;
    float: right;
    overflow-y: hidden;
    max-height: 0;
}

.mainMenu li {
    margin: 0;
    padding-right: 10%;
    white-space: nowrap;
    display: block;
    width: 100%;
    float: right;
}
.mainMenu li:last-child{
    padding-right: 6%;
}

.mainMenu a, .mainMenu a:visited {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    color: rgb(0,0,0);
    text-transform: uppercase;
    color:rgb(255,255,255);
}

label.menuTitle {
    margin: 0;
    display: block;
    cursor: pointer;
    background: url('../img/menuHair.png');
    /*background-image: url('../img/menu.svg'), none;*/
    background-repeat: no-repeat;
    background-position: 97% 10px;
    /*background-size: 24px 19px;*/
    background-size: 32px 32px;
}

@media screen and (min-width:768px) {
    label.menuTitle {
        display: none;
    }

    .mainMenu ul {
        display: block !important;
        border: 0;
        overflow: visible;
        max-height: 100% !important;
    }

        .mainMenu ul li {
            width: auto;
            display: inline;
            border: 0;
        }
   
}

.mainMenu {
    text-align: center;
}

    .mainMenu li {
        border-top: 1px solid rgba(0,0,0,0.5);
    }
  

    .mainMenu a, .mainMenu a:visited {
        text-decoration: none;
        width: 94%;
        padding: 5px 3%;
        background: none;
        color:#efefef;
    }

label.menuTitle {
    font-size: 20px;
    width: 94%;
    padding: 20px 3%;
    font-weight: bold;
}

@media screen and (min-width:768px){
  
    .mainMenu li {
        border: 0;
        
    }
      
    .mainMenu a:hover {
        color: rgb(152, 80, 81);
        -webkit-transition: all .1s ease;
        transition: all 0.4s ease;
    }

    /*.mainMenu a, .mainMenu a:visited {
        padding: 10px 3px 10px 8px;

    }*/
}

@media screen and (max-width:767px)  {
    .mainMenu > ul {
        width: 100%;
        margin-top:15px;
        margin-bottom:15px;
    }

    .mainMenu li {
        border-bottom: 1px solid rgb(255,255,255);
    }
    .mainMenu li:first-child {
        border-top: 1px solid rgb(255,255,255);
    }
     .mainMenu a, .mainMenu a:visited {
        font-size: 1em;
    }
}
.menu > li.current > a{
    color: rgb(152, 80, 81);
}
#toggleMenu li:first-child {
   padding-right:2%;

}
/*SUBMENU form GALLERYS*/


.subMenu {
    display: inline-block;
    width: 100%;
    margin: 20px auto;
    text-align:center;
}

.submenu > ul {
    margin: auto;
    padding: 0;
    list-style: none;
    overflow-y: hidden;
    max-height: 0;
    text-align:justify;
    
}
    .subMenu li {
        margin: 0 auto;
        padding-right: 10px;
        white-space: nowrap;
        display: inline;
        width: 100%;  
        text-align:justify;
    }
.subMenu a, .subMenu a:visited{
    display: inline;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    text-align:justify;
     color:#efefef;
}
.subMenu a:hover {
        color: rgb(152, 80, 81);
        -webkit-transition: all .1s ease;
        transition: all 0.4s ease;
    }
@media screen and (max-width:768px) {

    .subMenu {
    display: block;
    width: 80%;
    margin: 20px auto;
    margin-left:10px;
    padding: 0;
 
}
       
}
.submenu > li.current > a{
    color: rgb(152, 80, 81);
}

/*CONTACTS*/

.contacts {
    float: left;
    width: 40%;
    font-size: 1em;
    margin-left:3%;
    margin-top:1%;
}
    .contacts a:link, a:visited {
        display: inline-block;
        margin: 0.1em;
        padding: 0.1em;
        text-align: left;
        text-transform: none;
        text-decoration: none;
         color:#efefef;
    }

    .contacts a:hover, a:active {
        color: rgb(152, 80, 81);
        -webkit-transition: all .1s ease;
        transition: all 0.4s ease;
    }
 
@media screen and (max-width:767px) {
    .contacts {
        padding-top:2%;
        font-size: 0.9em;
    }
}
/* ==========================================================================
   index.html/PORTFOLIO PAGE
   ========================================================================== */

/*HELLO*/

.hello {
    padding-top: 10%;
    text-align: center;
    font-size: 2em;
    font-family: Century, serif;
    font-weight: lighter;
    line-height: 150%;
    color:#efefef;
}

    .hello span {
        font-size: 1.6em;
        font-family: 'Segoe Script', serif;
        font-style: italic;
    }

@media screen and (max-width:767px) {
    .hello {
        font-size: 1.4em;
    }

        .hello span {
            font-size: 1.6em;
        }
}

/*MAIN*/

main {
    float: left;
    width: 100%;
    background-color: #080706;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 1%;
        min-width: 320px;
        max-width: 480px;
        max-height: 360px;
        width: 48%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }

        .grid figure img {
            position: relative;
            display: block;
            min-height: 100%;
            max-width: 100%;
            opacity: 0.8;
        }

        .grid figure figcaption {
            padding: 2em;
            color: #efefef;
            text-transform: uppercase;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

            .grid figure figcaption::before,
            .grid figure figcaption::after {
                pointer-events: none;
            }

            .grid figure figcaption,
            .grid figure figcaption > a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

                /* Anchor will cover the whole item by default */
                /* For some effects it will show as a button */
                .grid figure figcaption > a {
                    z-index: 1000;
                    text-indent: 200%;
                    white-space: nowrap;
                    font-size: 0;
                    opacity: 0;
                }

        .grid figure h2 {
            word-spacing: -0.15em;
            font-weight: 300;
        }

            .grid figure h2 span {
                font-weight: 800;
            }

        .grid figure h2,
        .grid figure p {
            margin: 0;
        }

        .grid figure p {
            letter-spacing: 1px;
            font-size: 68.5%;
        }

figure.effect img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
}

figure.effect figcaption {
    text-align: left;
}

    figure.effect figcaption > div {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2em;
        width: 100%;
        height: 50%;
    }

figure.effect h2,
figure.effect p {
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

@media screen and (max-width:768px) {
    figure.effect h2 {
        font-size: 1em;
    }
}

figure.effect h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect p {
    color: rgba(255,255,255,0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect:hover img,
figure.effect:hover p {
    opacity: 1;
}

figure.effect:hover img,
figure.effect:hover h2,
figure.effect:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

/*Portfolio Gallery*/


#gallery{
	float: left;
	width: 100%;
}
#gallery-header{
	height: 100px;
	width: 100%;
	float: left;
}
#gallery-header-center{
	height: 100px;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
#gallery-header-center-left{
	float: left;
	height: 35px;
	line-height: 35px;
	margin-top: 32px;
}
#gallery-header-center-left-icon{
	float: left;
	height: 35px;
	width: 35px;
	background-color: rgba(63,141,191,1);
	color: rgba(255,255,255,1);
	text-align: center;
	font-size: 20px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#gallery-header-center-left-icon:hover {
	background-color: rgba(63,141,191,0.5);
	cursor: pointer;
}
#gallery-header-center-left-title{
	float: left;
	height: 35px;
	font-size: 25px;
	color: #3f8dbf;
	margin-left: 20px;
}
#gallery-header-center-right{
	float: right;
	height: 35px;
	margin-top: 32px;
	line-height: 35px;
}
.gallery-header-center-right-links {
	color: #333333;
	float: left;
	height: 35px;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 20px;
	font-size: 16px;
	font-weight: 400;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.gallery-header-center-right-links:hover {
	background-color: rgba(63,141,191,1);
	color: rgba(255,255,255,1);
	cursor: pointer;
}
.gallery-header-center-right-links-current {
	color: #FFFFFF;
	background-color: rgba(63,141,191,1);
}
.gallery-header-center-right-links-current:hover {
	background-color: rgba(63,141,191,0.5);
}
#gallery-content{
	float: left;
	width: 100%;
}
.gallery-content-center-normal {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
.gallery-content-center-full {
	float: left;
	width: 100%;
}
#gallery-content-center img {
	width: 300px;
	margin-bottom: 10px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-left: 10px;
}

/* ==========================================================================
   about.html/ABOUT PAGE/CAUROSEL
   ========================================================================== */
.aboutHeader{
    height:100px;
    margin-top:10px;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 70%;
  height:400px;
  padding: 0;
  margin: 0 auto;
  margin-top:20px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.aboutInfo{
    margin: 30px 200px 0px;
    line-height:200%;
    text-align:justify;
    color:#fff;
}
.aboutInfo p::first-letter{
    font-size:3em;
    text-transform:uppercase;
    color:rgb(152, 80, 81);
}
@media screen and (max-width:768px) {
    .aboutInfo{
        margin: 0px 20px 0px;  
    }

}


/*FOOTER*/

footer {
    clear: both;
    width: 100%;
    display: block;
    padding: 30px 0 50px;
    text-align: center;
}

.yearCurrent {
    margin-left: 2%;
    margin-bottom: 1%;
    color:#efefef;
}

.social-icons a {
    color: #efefef;
    width: 34px;
    height: 34px;
    border: 1px solid #000;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    text-align: center;
    text-decoration:none;
    font-size: 12px;
    line-height: 34px;
}

    .social-icons a i {
        line-height: 34px;
    }

   .social-icons a:hover {
       color: rgb(152, 80, 81);
        -webkit-transition: all .1s ease;
        transition: all 0.4s ease;
    }


.social-icons li {
    display: inline-block;
    margin: 0 4px;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    /*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.menu .current{
    color: #f0810f;
}