@font-face {
    font-family: 'pfagoraslabpro-thin';
    src: url('../fonts/pfagoraslabpro-thin.ttf') format('truetype');
}
@font-face {
    font-family: 'pfagoraslabpro-thinitalic';
    src: url('../fonts/pfagoraslabpro-thinitalic.ttf') format('truetype');
}
body {
    background:#080706; 
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    color:#efefef;
}

/*NAVIGATION*/
@media screen and (min-width: 780px) {
    .navbar-collapse {
        padding-right: 0px;
        padding-left: 0px;
    }

    .nav > li > a {
        padding-left: 0px;
        padding-right: 20px;
    }

    .navbar-right > a:last-child {
        padding-right: 20px;
    }
}
.navbar-default {
    background-color: #080706;
    border-color: #080706;
    font-size:14px;
    margin-top:30px;
}
.navbar-default .navbar-nav>li>a {
    color: #efefef;
}
.navbar-default .navbar-nav>li>a:hover{
       color: #efefef;
       opacity:0.8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #985051;
    background-color: transparent;
}
.navbar-right{
    text-transform:uppercase;
}
/*JUMBOTRON*/
.jumbotron {
     background-color: transparent;
     margin-right:0;
     padding-right:0;
     margin-top:100px;
     margin-bottom:100px;
}

.jumbotron > h2 {
 
    text-align: right;
    font-size: 30px;
    line-height: 42px;
    letter-spacing:1px;
    color:#efefef;
    font-family: 'Bad Script', cursive;
    font-family: 'Cormorant', serif;
    font-family: 'pfagoraslabpro-thin';
     font-family: 'pfagoraslabpro-thinitalic';
}

    .jumbotron > h2 > span {
        display:inline-block;
        color: rgb(152, 80, 81);
        word-spacing:2px;
        font-family: 'pfagoraslabpro-thinitalic';
    }
    @media screen and (min-width: 768px) {
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 0;   
}
}
@media screen and (max-width: 768px) {
    .jumbotron > h2 {
        font-size: 24px;
        line-height: 48px;
    }
}


/*GRID*/
.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    list-style: none;
    text-align: center;
   
}
    .grid .mua {
        float: left;
    }
  
.grid .hair{
    float:left
}

.grid .fashion{
 
    float:left;
    clear:both;
    margin-top:2%;
        
}
.grid .bride{

    float:left;
    margin-top:2%;
        
}
.grid .sfx{
    
    float:left;
    margin-top:2%;
}
.grid .movie{
   
    float:left;
    margin-top:2%;
 
}
.grid .video{
    
    float:left;
    margin-top:2%;
         
}

 .grid img {
        position: relative;
        display: block;
        max-width: 100%;
         opacity: 0.8;
        
    }


.grid figure {
        position: relative;
        overflow: hidden;
        margin: 10px 1%;
        max-height: 360px;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }
        .grid figure figcaption {
            padding: 2em;
            color: #efefef;
            text-transform: uppercase;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

            .grid figure figcaption::before,
            .grid figure figcaption::after {
                pointer-events: none;
            }

            .grid figure figcaption,
            .grid figure figcaption > a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

                .grid figure figcaption > a {
                    z-index: 1000;
                    text-indent: 200%;
                    white-space: nowrap;
                    font-size: 0;
                    opacity: 0;
                }
        .grid figure h2 {
            word-spacing: -0.15em;
            font-weight: bold;
         
           
        }

            .grid figure h2 span {
                font-weight: 800;
            }

        .grid figure h2,
        .grid figure p {
            margin: 0;
        }

        .grid figure p {
            letter-spacing: 1px;
            font-size: 68.5%;
        }

figure.effect img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
}

figure.effect figcaption {
    text-align: left;
}

    figure.effect figcaption > div {
        position: absolute;
        bottom: 30px;
        left: 0;
        padding: 2em;
        width: 100%;
        height: 50%;
    }

figure.effect h2,
figure.effect p {
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

@media screen and (max-width:768px) {
     figure.effect figcaption > div {
        bottom: 60px;
       
    }
    figure.effect h2 {
        font-size: 1em;
       
    }

}

figure.effect h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect p {
    color: rgba(255,255,255,0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect:hover img,
figure.effect:hover p {
    opacity: 1;
}

figure.effect:hover img,
figure.effect:hover h2,
figure.effect:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}


/*FOOTER*/

footer {
    clear: both;
    width: 100%;
    display: block;
    padding: 30px 0 50px;
    text-align: center;
}

.yearCurrent {
    margin-left: 2%;
    margin-bottom: 1%;
    color:#efefef;
}

.social-icons a {
    color: #efefef;
    width: 34px;
    height: 34px;
    border: 1px solid #000;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    text-align: center;
    text-decoration:none;
    font-size: 12px;
    line-height: 34px;
}

    .social-icons a i {
        line-height: 34px;
    }

   .social-icons a:hover {
       color: rgb(152, 80, 81);
        -webkit-transition: all .1s ease;
        transition: all 0.4s ease;
    }


.social-icons li {
    display: inline-block;
    margin: 0 4px;
}


/*ABOUT*/

/* Carousel base class */
.carousel {
  height: 400px;
  margin-top: 60px;
  margin-bottom: 60px;

}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 400px;
 
}
.carousel-inner > .item > img {
  min-width: 100%;
}

@media screen and (min-width:768px) {
   .imgUp {
 
  position:absolute;
  top:-100px;
}
}
@media screen and (max-width:480px) {
    .carousel {
        height: 150px;
    }

        .carousel .item {
            height: 150px;
        }
}
@media screen and (max-width:768px) and (min-width:480px) {
    .carousel {
        height: 300px;
    }

        .carousel .item {
            height:300px;
        }
}
@font-face {
    font-family: 'pfagoraslabpro-thinitalic';
    src: url('../fonts/pfagoraslabpro-thinitalic.ttf') format('truetype');
}
.info{
    text-align:left;
    color:#efefef;
    font-size:14px;
    line-height:28px;
    font-family: 'pfagoraslabpro-thinitalic';

}
.info p::first-letter{
    font-size:3em;
    text-transform:uppercase;
    color:rgb(152, 80, 81);
}
/*@media screen and (max-width:768px) {
    .aboutInfo{
        margin: 0px 20px 0px;  
    }

}*/


/*GALLERY*/
    /*Thumbnail Slider*/
    .carousel-inner{
        background-color: none;
    }
    .thumbnail {
        display: block;
        padding: 4px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        border-radius: 0;
        border: none;
        background-color: none;
    }

    .carousel-control {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 15%;
        opacity: .5;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: none;
    }

        .carousel-control.left {
            background-image: none;
        }

        .carousel-control.right {
            left: auto;
            right: 0;
            background-image: none;
        }

    .carousel-control {
        padding-top: 20.25%;
        width: 5%;
    }
  /*VIDEO*/
  
.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}